################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/backend/GerenciadorEscolarAPI/serviceAccountKeyDevelop.json
"src/backend/GerenciadorEscolarAPI/bin/Debug/net8.0/serviceAccountKeyDevelop.json" 
/src/backend/InstitutoCopacabanaAPI/appsettings.Development.json
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/6ac6892a-c18f-4511-9441-a6d611d2a3d4.vsidx
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/77dc9084-cb08-415c-92b7-e5e9f6bf1776.vsidx
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/b1cce800-d7a8-42fa-af16-1fc277e5490f.vsidx
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/e6d64c88-4544-4699-887c-b55309aace23.vsidx
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/ff0e9699-d600-4eff-9bc6-b614df575bdd.vsidx
/src/backend/InstitutoCopacabanaAPI/serviceAccountKeyDevelop.json
/src/backend/InstitutoCopacabanaAPI/serviceAccountKeyDevelop.json
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex/1890329b-032d-4df3-b6d1-af11b79317f1.vsidx
/src/backend/InstitutoCopacabanaAPI/.vs/InstitutoCopacabanaAPI/FileContentIndex
/src/backend/InstitutoCopacabanaAPI/serviceAccountKeyDevelop.json
